.header {
  height: 24vh;
  margin-top: 2rem;
}

h1 {
  display: flex;
  justify-content: center;
  user-select: none;
}


a {
  width: 5rem;
  all: unset;
  cursor: pointer;
  transition: 0.33s;
}

a:hover {
  opacity: 55%;
}
