.formulario-create {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 100%;
  align-items: center;
  margin-top: 5rem;
}

.formulario-create div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 65vh;
}

.formulario-create label {
  font-size: 1.2rem;
}

.formulario-create input[type="text"],
.formulario-create textarea {
  padding: 0.4rem;
  border-radius: 25px;
  width: 76%;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.formulario-create input[type="file"] {
  display: none;
}

.formulario-create label[for="file"]::before {
  content: "Seleccionar archivo";
  display: inline-block;
  padding: 0.4rem;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  background-color: #c9c9c9;
  cursor: pointer;
}

.formulario-create label[for="file"]::after {
  content: "";
  display: block;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #666;
}

.formulario-create input[type="file"]:focus + label[for="file"]::before {
  background-color: #4b4bff;
  color: #fff;
}

.formulario-create .previewContainer-create {
  display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    width: fit-content;
}

.formulario-create .preview {
  width: 300px;
  height: 300px;
  object-fit: cover;
    border-radius: 20px;

}

#description {
  height: 200px;
  resize: none;
}

.form-container-create {
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #000000;
}

.registro {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 0.5rem;
  background: linear-gradient(
    180deg,
    rgba(62, 41, 146, 0.85) 0%,
    rgba(62, 41, 146, 0) 100%
  );
  color: #fff;
  cursor: pointer;
}

.registro:hover {
  background-color: #3a3aff;
}

#name {
  margin-bottom: 1rem;
}

.titulo-create{
  margin: 1rem;
    user-select: none;
}