.Slideshow {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Detalle-Title {
    text-align: center;
    font-size: 2rem;
}

.Edit {
    cursor: pointer;
    background-color: aquamarine;
    width: 20rem;
}

.liked {
  background-color: green;
  color: white;
}
