.formulario-register {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
  margin-top: 5.5rem;
  height: 55vh;
}

.formulario-register div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 35%;
}

.formulario-register label {
  font-size: 1.2rem;
}

.formulario-register input {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  border-radius: 11px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.form-container-register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  font-size: 1.2rem;
}

.registro{
    display: flex;
    align-items: center;
    border-radius: 11px;
    padding: 0.5rem;
    background-color: #2E1F6D;
    width: 10rem;
}

#name{
    margin-bottom: 1rem;
    border-radius: 11px;
}