/* GENERAL LOG-IN */

.LogInBoxClosed {
  position: absolute;
  cursor: pointer;
  z-index: 999;
  top: -2rem;
  left: 0rem;
  border-radius: 0px 0px 22px 22px;
  background-color: var(--purplelov);
  opacity: 85%;
  width: 13rem;
  height: 3rem;
  padding: 1rem;
  margin: 2rem;
  transition: ease-out 0.22s;
}

.LogInBoxClosed:hover, .LogInBoxLoggedInClosed:hover {
  height: 3.7rem;
}

.LogInBoxOpen {
  z-index: 999;
  position: absolute;
  cursor: pointer;
  top: -2rem;
  left: 0rem;
  background: linear-gradient(
    180deg,
    rgba(62, 41, 146, 0.85) 0%,
    rgba(62, 41, 146, 0) 100%
  );
  width: 13rem;
  height: 13rem;
  padding: 1rem;
  margin: 2rem;
  transition: ease-out 0.33s;
}

.LogInBoxLoggedInClosed {
  position: absolute;
  cursor: pointer;
  z-index: 999;
  top: -2rem;
  left: 0rem;
  border-radius: 0px 0px 22px 22px;
  background-color: var(--purplelov);
  opacity: 85%;
  width: 13rem;
  height: 3rem;
  padding: 1rem;
  margin: 2rem;
  transition: ease-out 0.22s;
}

.LogInBoxLoggedIn {
  z-index: 999;
  position: absolute;
  cursor: pointer;
  top: -2rem;
  left: 0rem;
  background: linear-gradient(
    180deg,
    rgba(62, 41, 146, 0.85) 0%,
    rgba(62, 41, 146, 0) 100%
  );
  width: 13rem;
  height: 13rem;
  padding: 1rem;
  margin: 2rem;
  transition: ease-out 0.33s;
}

.WelcomeText {
  display: flex;
  user-select: none;
  align-items: center;
  margin-top: -0.22rem;
  text-indent: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
}

.Opener{
  width: 1rem;
  height: 1rem;
  background-color: aliceblue;
}

.LogInFormHidden {
  display: none;
}

.LogInForm {
  margin-top: 1rem;
  display: flex;
  animation: fadeIn 0.65s;
  flex-direction: column;
}

.form-control {
  all: unset;
  margin-bottom: 10%;
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 11px;
  text-indent: 0.5rem;
  font-size: 0.8rem;
  padding: 0.6rem;
}

input::selection {
  background: #1e4273;
}

/* Password */

input[type="password"]::-ms-reveal {
  display: none;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  padding-right: 2rem;
  width: 78%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  cursor: text;
}

.PasswordContainer {
  width: 20rem;
}

.Password_Container {
  position: relative;
}

.Password_Container:hover #showpass {
  display: block;
}

#showpass {
  display: none;
  position: absolute;
  cursor: pointer;
  opacity: 85%;
  top: 20%;
  left: 85%;
  color: rgb(109, 109, 109);
  font-size: 0.95rem;
}

#showpass:hover {
  opacity: 100%;
}

/* Buttons */

.Log-InButton {
  all:unset;
  width: 178.86px;
  display: inline;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.781);
  height: 2rem;
  border-radius: 11px;
  margin-bottom: 1rem;
}

.Register-Button {
  all:unset;
  text-align: center;
  text-decoration: underline;
  top: -20%;
  font-size: 0.75rem;
  height: 2rem;
  border-radius: 11px;
  text-indent: 0.2rem;
}

.NO {
  all:unset;
  cursor: auto;
  user-select: none;
  text-align: center;
  font-size: 0.75rem;
  height: 2rem;
  border-radius: 11px;
}

.Buttons {
  display: flex;
  justify-content: center;
}

/* User Details */

.UserDetailsHidden {
  display: none;
}

.UserDetails {
  display: flex;
  animation: fadeIn 0.95s;
  flex-direction: column;
}

.Role-Text::selection, .Email-Text::selection  {
  background: #1e4273;
}

.RoleDetails {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  cursor: text;
}

.Role-Text {
  margin-top: 0.5rem;
}

.LogOut{
  all:unset;
  width: 178.86px;
  position: relative;
  top: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.781);
  height: 2rem;
  border-radius: 11px;
  margin-bottom: 1rem;
}


/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.Loading {
  z-index: 99;
  font-size: 20rem;
}